@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #292C34;
}

header{
    background: white;
    padding: 20px;
}

header > h1{
    color: #292C34;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board{
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 250px;
    color: white;
    font-size: 48px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge{
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label{
    position: absolute;
    top: 35px;
    left: -30px;
}

#computer-label{
    position: absolute;
    top: 35px;
    right: -45px;
}

.result{
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-family: Asap, sans-serif;
    font-weight: bold;
}

.choices{
    text-align: center;
    margin: 50px 0;
}

.choice{
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 18px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice:hover{
    cursor: pointer;
    background: #24272E;
}

#action-message {
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
}